<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="scripts">
		<script th:src="@{/alumno/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/alumno/css/bootstrap4/popper.js}"></script>
		<script th:src="@{/alumno/css/bootstrap4/bootstrap.min.js}"></script>
		<script th:src="@{/alumno/scrollmagic/ScrollMagic.min.js}"></script>
		<script th:src="@{/alumno/carousel/owl.carousel.js}"></script>
		<script type="text/javascript" src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=2099671733382944" id="facebook-jssdk"></script>
		<script type="text/javascript" src="https://stripe.github.io/jquery.payment/lib/jquery.payment.js"></script>
		<script th:src="@{/alumno/js/cookies.js}"></script>
	</div>
</html>