<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="header-mobile d-block d-lg-none" th:fragment="header-movile">
		<div class="header-mobile__bar">
          <div class="container-fluid">
            <div class="header-mobile-inner">
              <a class="logo" href="index.html">
                <img src="images/icon/logo.png" alt="CoolAdmin" />
              </a>
              <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <nav class="navbar-mobile">
          <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
              <li class="has-sub">
                <a href="index.html">
                  <i class="fas fa-cogs"></i>Administradores
                </a>
              </li>
              <li>
                <a href="pagos.html">
                  <i class="fa fa-credit-card"></i>Pagos
                </a>
              </li>
              <li>
                <a href="estudiantes.html">
                  <i class="fa fa-graduation-cap"></i>Estudiantes
                </a>
              </li>
              <li>
                <a href="profesores.html">
                  <i class="fa fa-users"></i>Profesores
                </a>
              </li>
              <li>
                <a href="platica.html">
                  <i class="fa fa-podcast"></i>Platica
                </a>
              </li>
              <li>
                <a href="cursos.html">
                  <i class="fa fa-laptop"></i>Cursos
                </a>
              </li>
              <li>
                <a href="clases.html">
                  <i class="fa fa-cube"></i>Clases
                </a>
              </li>
              <li>
                <a href="asesorias.html">
                  <i class="fa fa-calendar-check-o"></i>Asesorías
                </a>
              </li>
              <li>
                <a href="examenes.html">
                  <i class="far fa-file-alt"></i>Examen simulacro
                </a>
              </li>
              <li>
                <a href="bolsa.html">
                  <i class="fas fa-user"></i>Bolsa de trabajo
                </a>
              </li>
            </ul>
          </div>
        </nav>
	</header>
	<aside class="menu-sidebar d-none d-lg-block" th:fragment="asside">
		<div class="logo">
          <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
          </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list change-menu">
              <li class="active has-sub">
                <a href="index.html">
                  <i class="fas fa-cogs"></i>Administradores
                </a>
              </li>
              <li>
                <a href="pagos.html">
                  <i class="fa fa-credit-card"></i>Pagos
                </a>
              </li>
              <li>
                <a href="estudiantes.html">
                  <i class="fa fa-graduation-cap"></i>Estudiantes
                </a>
              </li>
              <li>
                <a href="profesores.html">
                  <i class="fa fa-users"></i>Profesores
                </a>
              </li>
              <li>
                <a href="platica.html">
                  <i class="fa fa-podcast"></i>Platica
                </a>
              </li>
              <li>
                <a href="cursos.html">
                  <i class="fa fa-laptop"></i>Cursos
                </a>
              </li>
              <li>
                <a href="clases.html">
                  <i class="fa fa-cube"></i>Clases
                </a>
              </li>
              <li>
                <a href="asesorias.html">
                  <i class="fa fa-calendar-check-o"></i>Asesorías
                </a>
              </li>
              <li>
                <a href="examenes.html">
                  <i class="far fa-file-alt"></i>Examen simulacro
                </a>
              </li>
              <li>
                <a href="bolsa.html">
                  <i class="fas fa-user"></i>Bolsa de trabajo
                </a>
              </li>
            </ul>
          </nav>
        </div>
	</aside>
	<header  th:fragment="header-desktop" class="header-desktop">
		<div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="header-wrap">
                <div class="header-button">
                  <div class="account-wrap">
                    <div class="account-item clearfix js-item-menu">
                      <div class="image">
                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                      </div>
                      <div class="content">
                        <a class="js-acc-btn" href="#">{{ Nombre admin }}</a>
                      </div>
                      <div class="account-dropdown js-dropdown">
                        <div class="info clearfix">
                          <div class="image">
                            <a href="#">
                              <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                            </a>
                          </div>
                          <div class="content">
                            <h5 class="name">
                              <a href="#">{{ Nombre admin }}</a>
                            </h5>
                            <span class="email">{{ correo@example.com }}</span>
                          </div>
                        </div>
                        <div class="account-dropdown__body">
                          <div class="account-dropdown__item">
                            <a href="perfil.html">
                              <i class="zmdi zmdi-account"></i>Mi cuenta
                            </a>
                          </div>
                          <div class="account-dropdown__item">
                            <a href="config.html">
                              <i class="zmdi zmdi-settings"></i>Configuración
                            </a>
                          </div>
                        </div>
                        <div class="account-dropdown__footer">
                          <a href="#">
                            <i class="zmdi zmdi-power"></i>Cerrar sesión
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</header>
</html>