<html xmlns:th="http://www.thymeleaf.org">
	<header class="header-mobile d-block d-lg-none" th:fragment="header-movile">
		<div class="header-mobile__bar">
          <div class="container-fluid">
            <div class="header-mobile-inner">
              <a class="logo" href="index.html">
                <img th:src="@{/administrador/images/icon/logo.png}"/>
              </a>
              <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <nav class="navbar-mobile">
          <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
              <li class="has-sub">
                <span data-href="index" onclick="getItem(this);" data-href-to-menu="index"  data-href-to-view="/admin/index">
                  <i class="fas fa-cogs"></i>Administradores
                </span>
              </li>
              <li>
                <span data-href="pagos" onclick="getItem(this);" data-href-to-menu="pagos"  data-href-to-view="/admin/pagos">
                  <i class="fa fa-credit-card"></i>Pagos
                </span>
              </li>
              <li>
                <span data-href="estudiantes" onclick="getItem(this);" data-href-to-menu="estudiantes"  data-href-to-view="/admin/estudiantes">
                  <i class="fa fa-graduation-cap"></i>Estudiantes
                </span>
              </li>
              <li>
                <span data-href="profesores" onclick="getItem(this);" data-href-to-menu="profesores"  data-href-to-view="/admin/index">
                  <i class="fa fa-users"></i>Profesores
                </span>
              </li>
              <li>
                <span data-href="platica" onclick="getItem(this);" data-href-to-menu="platica"  data-href-to-view="/admin/platica">
                  <i class="fa fa-podcast"></i>Platica
                </span>
              </li>
              <li>
                <span data-href="cursos" onclick="getItem(this);" data-href-to-menu="cursos"  data-href-to-view="/admin/index">
                  <i class="fa fa-laptop"></i>Cursos
                </span>
              </li>
              <li>
                <span data-href="clases" onclick="getItem(this);" data-href-to-menu="clases"  data-href-to-view="/admin/clases">
                  <i class="fa fa-cube"></i>Clases
                </span>
              </li>
              <li>
                <span data-href="asesorias" onclick="getItem(this);" data-href-to-menu="asesorias"  data-href-to-view="/admin/asesorias">
                  <i class="fa fa-calendar-check-o"></i>Asesorías
                </span>
              </li>
              <li>
                <span data-href="examenes" onclick="getItem(this);" data-href-to-menu="examenes"  data-href-to-view="/admin/examenes">
                  <i class="far fa-file-alt"></i>Examen simulacro
                </span>
              </li>
              <li>
                <span data-href="bolsa" onclick="getItem(this);" data-href-to-menu="bolsa"  data-href-to-view="/admin/bolsa">
                  <i class="fas fa-user"></i>Bolsa de trabajo
                </span>
              </li>
            </ul>
          </div>
        </nav>
	</header>
	<aside class="menu-sidebar d-none d-lg-block" th:fragment="asside">
		<div class="logo">
          <a href="#">
            <img th:src="@{/administrador/images/icon/logo.png}" />
          </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list change-menu">
              <li class="active has-sub">
                <span data-href="index" onclick="getItem(this);" data-href-to-menu="index"  data-href-to-view="/admin/index">
                  <i class="fas fa-cogs"></i>Administradores
                </span>
              </li>
              <li>
                <span data-href="Pagos" onclick="getItem(this);" data-href-to-menu="Pagos"  data-href-to-view="/admin/pagos">
                  <i class="fa fa-credit-card"></i>Pagos
                </span>
              </li>
              <li>
                <span data-href="estudiantes" onclick="getItem(this);" data-href-to-menu="estudiantes"  data-href-to-view="/admin/estudiantes">
                  <i class="fa fa-graduation-cap"></i>Estudiantes
                </span>
              </li>
              <li>
                <span data-href="profesores" onclick="getItem(this);" data-href-to-menu="profesores"  data-href-to-view="/admin/index">
                  <i class="fa fa-users"></i>Profesores
                </span>
              </li>
              <li>
                <span data-href="platica" onclick="getItem(this);" data-href-to-menu="platica"  data-href-to-view="/admin/platica">
                  <i class="fa fa-podcast"></i>Platica
                </span>
              </li>
              <li>
                <span data-href="cursos" onclick="getItem(this);" data-href-to-menu="cursos"  data-href-to-view="/admin/index">
                  <i class="fa fa-laptop"></i>Cursos
                </span>
              </li>
              <li>
                <span data-href="clases" onclick="getItem(this);" data-href-to-menu="clases"  data-href-to-view="/admin/clases">
                  <i class="fa fa-cube"></i>Clases
                </span>
              </li>
              <li>
                <span data-href="asesorias" onclick="getItem(this);" data-href-to-menu="asesorias"  data-href-to-view="/admin/asesorias">
                  <i class="fa fa-calendar-check-o"></i>Asesorías
                </span>
              </li>
              <li>
                <span data-href="examenes" onclick="getItem(this);" data-href-to-menu="examenes"  data-href-to-view="/admin/examenes">
                  <i class="far fa-file-alt"></i>Examen simulacro
                </span>
              </li>
              <li>
                <span data-href="bolsa" onclick="getItem(this);" data-href-to-menu="bolsa"  data-href-to-view="/admin/bolsa">
                  <i class="fas fa-user"></i>Bolsa de trabajo
                </span>
              </li>
            </ul>
          </nav>
        </div>
	</aside>
	<header  th:fragment="header-desktop" class="header-desktop">
		<div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="header-wrap">
                <div class="header-button">
                  <div class="account-wrap">
                    <div class="account-item clearfix js-item-menu">
                      <div class="image">
                        <img th:src="@{/administrador/images/icon/avatar-01.jpg}" />
                      </div>
                      <div class="content">
                        <a class="js-acc-btn" href="#">{{ Nombre admin }}</a>
                      </div>
                      <div class="account-dropdown js-dropdown">
                        <div class="info clearfix">
                          <div class="image">
                            <a href="#">
                              <img th:src="@{/administrador/images/icon/avatar-01.jpg}" alt="John Doe" />
                            </a>
                          </div>
                          <div class="content">
                            <h5 class="name">
                              <a href="#">{{ Nombre admin }}</a>
                            </h5>
                            <span class="email">{{ correo@example.com }}</span>
                          </div>
                        </div>
                        <div class="account-dropdown__body">
                          <div class="account-dropdown__item">
                            <span data-href="Perfil" onclick="getItem(this);" data-href-to-menu="Perfil"  data-href-to-view="/admin/perfil">
                              <i class="zmdi zmdi-account"></i>Mi cuenta
                            </span>
                          </div>
                          <div class="account-dropdown__item">
                            <span data-href="Config" onclick="getItem(this);" data-href-to-menu="Config"  data-href-to-view="/admin/config">
                              <i class="zmdi zmdi-settings"></i>Configuración
                            </span>
                          </div>
                        </div>
                        <div class="account-dropdown__footer">
                          <a href="#">
                            <i class="zmdi zmdi-power"></i>Cerrar sesión
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</header>
</html>