.box-error {
	display: none;
	font-size: 12px;
	background-color: #FFB7B9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	margin-top: 3px;
	font-weight: 100;
	color: #A50505;
}

.error-container {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 100px auto 0;
	background: #fff;
	-webkit-border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.98);
	opacity: 0.97;
	z-index: 100000;
	border-radius: 6px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
}

.error-container .bubble {
	height: 150px;
	animation: bounceIn 1s ease-out;
	width: 150px;
	font-size: 120px;
	background-color: #81E0FD;
	font-weight: bold;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	line-height: 150px;
}

.error-container .bubble:hover {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
}

.error-container-text {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 10px auto 0;
	background: #fff;
	-webkit-border-radius: 5px;
	font-size: 18px !important;
}

@
keyframes bounceIn { 0% {
	transform: translateY(-150px);
}

60%
{
transform
:
 
translateY
(100px);
 
}
100%
{
transform
:
 
translateY
(0px);
 
}
}
input[type="color"] {
	display: block;
	height: 40px;
	width: 100%;
	line-height: 1.5;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	border-radius: 50%;
	color: #2c3e50;
	background-color: #eee;
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
	color: #95a5a6;
	display: inline-block !important;
	visibility: visible !important;
}

input[type="date"], focus {
	color: #95a5a6;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}